.all {
  max-width: 375px;
  margin: 0 auto;
  font-family: 'Yomogi', cursive;
}

.container {
  padding: 5px 50px;
}

.logo {
  width: 300px;
  margin-left: 0;
}

.btn {
  margin: 20px 0 20px 85px;
}

.txt {
  text-align: center;
}

.there {
  text-align: center;
  color: #f7c6bd;
}