.all {
  max-width: 375px;
  margin: 0 auto;
  font-family: 'Yomogi', cursive;
}

.container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 160px 160px;
  gap: 40px 0px;
  grid-template-rows: 200px 200px;
  justify-content: center;
}

.item{
 padding: 5px;
 text-align: center;
}

.pic {
  width: 120px;
  height: 100px;
  margin-top: 20px;
  display: inline;
}

.contents {
  font-size: 10px;
  padding-top: 10px;
}

.bottomTitle {
  font-family: 'Noto Sans JP', sans-serif;
  width: 220px;
  margin: 30px 0 0 0;
  padding: 20px;
  background: #fa8072;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 20px;
  text-align: center;
  color: #fff;
}

