.all {
  max-width: 375px;
  margin: 0 auto;
  font-family: 'Yomogi', cursive;
}

.container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 170px 170px;
  gap: 40px 0px;
  grid-template-rows: 120px 120px 120px;
  justify-content: center;
  height: 450px;
}

.item {
  background: #f69679;
  padding: 10px;
  color: #fff;
}

.bottomTitle {
  font-family: 'Noto Sans JP', sans-serif;
  width: 220px;
  margin-top: 15px;
  padding: 20px;
  background: #fa8072;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 20px;
  text-align: center;
  color: #fff;
}